<h3>Задание:</h3> Найти все числа Мерсена и вывести на экран
<h4>Форма</h4>
<%= form_with url: "palindroms/result", data: {turbo: false}, method: :get do |form| %>
  <p><%= form.label :query, "Введите верхнюю границу диапазона [0,n]" %></p>
  <p><%= form.number_field(:num, {:class => 'form-control'}) %></p>
  <%= form.radio_button :side, 'xml' %> XML-format
  <%= form.radio_button :side, 'html' %> HTML-format
   <%= form.radio_button :side, 'server' %> SERVER
  <p><%= form.submit "Найти" %></p>
<% end %>